.banner {
    display: flex;
    width: 100%!important;
    height: 75vh;
    background: #37517e;
    padding:0px 100px 0 100px;
    text-align: left;
}

.banner__left {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    padding-top: 100px;
    height: auto;
}

.banner__left h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
    
}

.banner__left h2 {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 50px;
    font-size: 24px;
}

.banner__left--bottom {
    display: flex;
    align-items: center!important;
    padding: 10px 28px 11px 0px;
    justify-content: flex-start!important;
}
.banner__left--bottom a{
    padding-top: 10px!important;
    
}
.banner__left--bottom .started {
    font-family: "Jost", sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    border-radius: 50px;
    margin: 10px 0 0 0;
    color: #fff;
    background: #47b2e4;
}
.started:hover{
    background: #209dd8;
}
.started1 {
    margin-left: 30px;
    font-family: "Jost", sans-serif;
    display: flex;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    align-items: center !important;
    justify-content: center;
    color: #fff;
    border: 0;
    background: rgb(55, 81, 126) !important;
}
.fa-regular {
    color: #fff;
    font-size: 30px;
    margin-right: 10px;
}
.fa-regular:hover{
    color:#47b2e4;
}
.banner__right--img {
    width: 100%;
    height: auto;
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
    animation-name: tmp;
}
@keyframes tmp {
   0%{
    transform: translate(0px, 50px);
   }
}