$mobile-width: 600px;
$desktop-width: 1024px;

@mixin mobile {
    @media (max-width:#{$mobile-width - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media ((min-width:#{$mobile-width}) and (max-width: #{$desktop-width - 1px})) {
        @content;
    }
}

.Header {
    margin: 10% 0 120px 0;
    padding: 0 250px;
    position: relative;
    height: 450px;


    @include mobile {
        width: 100%;
        padding: 0 2%;
    }

    @include tablet {
        padding: 0 50px !important;
        margin-bottom: 64px;
    }
}

.Header__top {
    position: relative;

    .Header__top-logo {
        display: flex;
    }

    &-signin {
        width: 110px;
        height: 40px;
        font-family: 'Avenir';
        font-size: 18px;
        line-height: 160%;
        cursor: pointer;
        text-align: center;
        color: #fff;
        background-color: #9c69e2;
        padding-top: 5px;
        margin-top: 30px;
    }
}

.content {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include mobile {
        margin-top: 100px !important;
        width: 100%;
        display: block;
    }

    &__left {
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 60%;
        justify-content: space-around;

        @include mobile {
            width: 100% !important;
        }

        .content-h1 {
            font-family: 'Helvetica';
            font-style: normal;
            font-weight: 700;
            width: 100%;
            font-size: 65px;

            @include mobile {
                width: 100% !important;
                font-size: 30px !important;
            }

            @include tablet {
                width: 100% !important;
                font-size: 30px !important;
            }
        }

        .content-p {
            font-family: 'Avenir';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 160%;
            width: 65%;
            margin-top: 30px;

            @include mobile {
                width: 100% !important;
                font-size: 18px !important;
            }

            @include tablet {
                width: 70% !important;
                font-size: 18px !important;
            }
        }
    }

    &__right {
        width: 60%;
        position: absolute;
        left: 40%;
        top: 80px;

        @include mobile {
            width: 100% !important;
            top: 100%;
            left: 0;
        }

        @include tablet {
            width: 50% !important;
            height: 50%;
            left: 50%;
            padding-bottom: 10%;
        }
    }
}

.content-learnmore {
    width: 110px;
    height: 40px;
    font-family: 'Avenir';
    font-size: 18px;
    line-height: 160%;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: #9c69e2;
    padding-top: 5px;
    margin-top: 30px;
}